<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>Listing (Grid) - Jobs | Front - Responsive Website Template</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../favicon.ico">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/static/vendor/hs-mega-menu/dist/hs-mega-menu.min.css">
  <link rel="stylesheet" href="/static/vendor/select2/dist/css/select2.min.css">
  <link rel="stylesheet" href="/static/vendor/ion-rangeslider/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="/static/vendor/cubeportfolio/css/cubeportfolio.min.css">
  <!-- CSS Front Template -->
  <link rel="stylesheet" href="/static/css/theme.min.css">
</head>
<body>
  <!-- ========== HEADER ========== -->
  <header id="header" class="header">
    <div class="js-mega-menu header-section">
      <!-- Topbar -->
      <div class="container">
        <nav class="js-mega-menu navbar navbar-expand-lg z-index-999">
          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn btn-xs btn-outline-secondary ml-auto"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="topBar"
                  data-toggle="collapse"
                  data-target="#topBar">
            Topbar <i class="fa fa-angle-down ml-2"></i>
          </button>
          <!-- End Responsive Toggle Button -->


        </nav>
      </div>
      <!-- End Topbar -->

      <div id="logoAndNav" class="container">
        <!-- Nav -->
        <nav class="navbar navbar-expand-lg">
          <!-- Logo -->
          <a class="navbar-brand" href="index.html" aria-label="Front">
            <img src="static/zlogo/Logo.svg" alt="Logo">
          </a>
          <!-- End Logo -->

          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn btn-icon btn-sm btn-soft-secondary rounded-circle"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="navBar"
                  data-toggle="collapse"
                  data-target="#navBar">
            <span class="navbar-toggler-default">
              <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z"/>
              </svg>
            </span>
            <span class="navbar-toggler-toggled">
              <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
              </svg>
            </span>
          </button>
          <!-- End Responsive Toggle Button -->

          <!-- Navigation -->
          <!-- Navigation -->
        <div id="navBarOnepagNavWithDropdown" class="collapse navbar-collapse">
          <ul class="js-scroll-nav navbar-nav">

            <li class="navbar-nav-item">
              <a class="nav-link" href="#blog-section" data-toggle="tooltip" data-html="true" title="Sovereign Gold Bond">SGB<span class="badge badge-soft-primary">Coming Soon</span></a>
            </li>
            <li class="navbar-nav-item">
              <a class="nav-link" href="/ipo_index" data-toggle="tooltip" data-html="true" title="Initial Public Offering">IPO</a>
            </li>

          </ul>
        </div>
        <!-- End Navigation -->
          <!-- End Navigation -->
        </nav>
        <!-- End Nav -->
      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">


      <div class="container space-2">
  <!-- Hero -->
  <div class="w-md-80 w-lg-65 mb-5 mb-md-9">
    <h1 class="mb-4">Hi! My name is Brian Kray. I am a person with big dreams. I produce awesome visuals.</h1>
    <p>Got a project? <a class="font-weight-bold" href="#">Let's talk <i class="fas fa-angle-right fa-sm ml-1"></i></a></p>
  </div>
  <!-- End Hero -->

  <!-- Filter -->
  <div id="filterControlsExample3" class="text-md-right mb-5 mb-md-7">
    <a class="cbp-filter-item cbp-filter-item-active btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter="*">All</a>
    <a class="cbp-filter-item btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter=".ipo">IPO</a>
    <a class="cbp-filter-item btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter=".delist">DELIST</a>
    <a class="cbp-filter-item btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter=".takeover">TAKEOVER</a>
    <a class="cbp-filter-item btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter=".buy">BUY BACK</a>
  </div>
  <!-- End Filter -->

  <!-- Content -->
  <div class="cbp"
       data-hs-cbp-options='{
         "filters": "#filterControlsExample3",
         "animationType": "quicksand",
         "gapHorizontal": 40,
         "gapVertical": 40,
         "mediaQueries": [

           {"width": 1000, "cols": 3},
           {"width": 1000, "cols": 2},
           {"width": 1000, "cols": 1}
         ]
       }'>
    <!-- Item -->

       {% for i in range(BB|length) %}
            <div class="cbp-item rounded-lg ipo">

                    <div class="card card-bordered card-hover-shadow h-100">
                        <div class="card-body">
                          <div class="row mb-3">
                            <div class="col">
                              <div class="media align-items-center">

                                <div class="media-body">
                                    <div class="media align-items-center">
                                        <div class="avatar avatar-circle mr-2">
                                          <img class="avatar-img" src="static/zlogo/BAR.jpg" alt="Image Description">
                                        </div>
                                        <div class="media-body">
                                          <h6>
                                            {% if BB[i][1]|length > 19 %}
                                                <span> {{ BB[i][1] }}</span>
                                              {% else %}
                                                <span> {{ BB[i][1] }}</span>
                                              {% endif %}

                                          </h6>
                                        </div>
                                      </div>

                                </div>
                              </div>
                            </div>

                            <div class="col-auto">
                              <!-- Checkbbox Bookmark -->
                              <div class="custom-control custom-checkbox-bookmark">
                                <input type="checkbox" id="checkboxBookmark{{i}}" class="custom-control-input custom-checkbox-bookmark-input">
                                <label class="custom-checkbox-bookmark-label" for="checkboxBookmark{{i}}">
                                  <span class="custom-checkbox-bookmark-default" data-toggle="tooltip" data-placement="top" title="Save this job">
                                    <i class="far fa-star"></i>
                                  </span>
                                  <span class="custom-checkbox-bookmark-active" data-toggle="tooltip" data-placement="top" title="Saved">
                                    <i class="fas fa-star"></i>
                                  </span>
                                </label>
                              </div>
                              <!-- End Checkbbox Bookmark -->
                            </div>
                          </div>
                          <!-- End Row -->

                          <h3 class="mb-3">
                            <a class="text-dark" href="job-overview.html">{{ BB[i][0] }}</a>
                          </h3>

                          <span class="d-block font-size-1 text-body mb-1">
                            <span data-toggle="tooltip" data-placement="right" title="Price Range"> &#8377;{{ BB[i][6] }} - &#8377;{{ BB[i][7] }}</span>
                          </span>

                          <span class="d-block font-size-1 text-body mb-1">
                              <span class="badge badge-soft-primary" data-toggle="tooltip" data-placement="right" title="Minimum Qty">Lot : {{ BB[i][8] }}</span>
                          </span>
                        </div>

                        <div class="card-footer">
                          <ul class="list-inline list-separator small text-body">

                            <li class="list-inline-item">{{ BB[i][3] }}</li>

                            <li class="list-inline-item">{{ BB[i][4][0:10] }} - {{ BB[i][5][0:10] }}</li>
                          </ul>
                        </div>
                      </div>

            </div>
      {% endfor %}
      {% for i in range(DLST|length) %}
            <div class="cbp-item rounded-lg delist">

                    <div class="card card-bordered card-hover-shadow h-100">
                        <div class="card-body">
                          <div class="row mb-3">
                            <div class="col">
                              <div class="media align-items-center">

                                <div class="media-body">
                                  <div class="media align-items-center">
                                        <div class="avatar avatar-circle mr-2">
                                          <img class="avatar-img" src="static/zlogo/BAR.jpg" alt="Image Description">
                                        </div>
                                        <div class="media-body">
                                          <h6 class="mb-0">
                                            {% if DLST[i][1]|length > 19 %}
                                                <span> {{ DLST[i][1] }}</span>
                                              {% else %}
                                                <span> {{ DLST[i][1] }}</span>
                                              {% endif %}

                                          </h6>
                                        </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="col-auto">
                              <!-- Checkbbox Bookmark -->
                              <div class="custom-control custom-checkbox-bookmark">
                                <input type="checkbox" id="checkboxBookmark{{ i+ BB|length }}" class="custom-control-input custom-checkbox-bookmark-input">
                                <label class="custom-checkbox-bookmark-label" for="checkboxBookmark{{ i+ BB|length }}">
                                  <span class="custom-checkbox-bookmark-default" data-toggle="tooltip" data-placement="top" title="Save this job">
                                    <i class="far fa-star"></i>
                                  </span>
                                  <span class="custom-checkbox-bookmark-active" data-toggle="tooltip" data-placement="top" title="Saved">
                                    <i class="fas fa-star"></i>
                                  </span>
                                </label>
                              </div>
                              <!-- End Checkbbox Bookmark -->
                            </div>
                          </div>
                          <!-- End Row -->

                          <h3 class="mb-3">
                            <a class="text-dark" href="job-overview.html">{{ DLST[i][0] }}</a>
                          </h3>

                          <span class="d-block font-size-1 text-body mb-1">
                            <span data-toggle="tooltip" data-placement="right" title="Price Range"> &#8377;{{ DLST[i][6] }} - &#8377;{{ DLST[i][7] }}</span>
                          </span>

                          <span class="d-block font-size-1 text-body mb-1">
                            <span class="badge badge-soft-primary" data-toggle="tooltip" data-placement="right" title="Minimum Qty">Lot : {{ DLST[i][8] }}</span>
                          </span>
                        </div>

                        <div class="card-footer">
                          <ul class="list-inline list-separator small text-body">

                            <li class="list-inline-item">{{ DLST[i][3] }}</li>
                            <li class="list-inline-item">{{ DLST[i][4][0:10] }} - {{ DLST[i][5][0:10] }}</li>
                          </ul>
                        </div>
                      </div>

            </div>
      {% endfor %}
      {% for i in range(TAKEOVER|length) %}
            <div class="cbp-item rounded-lg takeover">
                    <div class="card card-bordered card-hover-shadow h-100">
                        <div class="card-body">
                          <div class="row mb-3">
                            <div class="col">
                              <div class="media align-items-center">

                                <div class="media-body">
                                  <div class="media align-items-center">
                                        <div class="avatar avatar-circle mr-2">
                                          <img class="avatar-img" src="static/zlogo/BAR.jpg" alt="Image Description">
                                        </div>
                                        <div class="media-body">
                                          <h6 class="mb-0">
                                            {% if TAKEOVER[i][1]|length > 19 %}
                                                <span> {{ TAKEOVER[i][1] }}</span>
                                              {% else %}
                                                <span> {{ TAKEOVER[i][1] }}</span>
                                              {% endif %}

                                          </h6>
                                        </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="col-auto">
                              <!-- Checkbbox Bookmark -->
                              <div class="custom-control custom-checkbox-bookmark">
                                <input type="checkbox" id="checkboxBookmark{{ i + BB|length + DLST|length }}" class="custom-control-input custom-checkbox-bookmark-input">
                                <label class="custom-checkbox-bookmark-label" for="checkboxBookmark{{ i + BB|length + DLST|length }}">
                                  <span class="custom-checkbox-bookmark-default" data-toggle="tooltip" data-placement="top" title="Save this job">
                                    <i class="far fa-star"></i>
                                  </span>
                                  <span class="custom-checkbox-bookmark-active" data-toggle="tooltip" data-placement="top" title="Saved">
                                    <i class="fas fa-star"></i>
                                  </span>
                                </label>
                              </div>
                              <!-- End Checkbbox Bookmark -->
                            </div>
                          </div>
                          <!-- End Row -->

                          <h3 class="mb-3">
                            <a class="text-dark" href="job-overview.html">{{ TAKEOVER[i][0] }}</a>
                          </h3>

                          <span class="d-block font-size-1 text-body mb-1">
                            <span data-toggle="tooltip" data-placement="right" title="Price Range"> &#8377;{{ TAKEOVER[i][6] }} - &#8377;{{ TAKEOVER[i][7] }}</span>
                          </span>

                          <span class="d-block font-size-1 text-body mb-1" style="padding-right:20px;">
                            <span class="badge badge-soft-primary" data-toggle="tooltip" data-placement="right" title="Minimum Qty">Lot : {{ TAKEOVER[i][8] }}</span>
                          </span>
                        </div>

                        <div class="card-footer">
                          <ul class="list-inline list-separator small text-body">

                            <li class="list-inline-item">{{ TAKEOVER[i][3] }}</li>
                            <li class="list-inline-item">{{ TAKEOVER[i][4][0:10] }} - {{ TAKEOVER[i][5][0:10] }}</li>
                          </ul>
                        </div>
                      </div>
            </div>
      {% endfor %}

    <!-- End Item -->


  </div>
</div>

      <div class="container space-2">
  <!-- Hero -->
          <div class="w-md-80 w-lg-65 mb-5 mb-md-9">
            <h1 class="mb-4">Hi! My name is Brian Kray. I am a person with big dreams. I produce awesome visuals.</h1>
            <p>Got a project? <a class="font-weight-bold" href="#">Let's talk <i class="fas fa-angle-right fa-sm ml-1"></i></a></p>
          </div>
          <!-- End Hero -->

          <!-- Filter -->
          <div id="filterControlsExample3" class="text-md-right mb-5 mb-md-7">
            <a class="cbp-filter-item cbp-filter-item-active btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter="*">All</a>
            <a class="cbp-filter-item btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter=".ipo">IPO</a>
            <a class="cbp-filter-item btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter=".dlst">DELIST</a>
            <a class="cbp-filter-item btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter=".bb">BUY BACK</a>
            <a class="cbp-filter-item btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter=".takeover">TAKE OVER</a>
              <a class="cbp-filter-item btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter=".ifo">IFO</a>
          </div>
          <!-- End Filter -->

          <!-- Content -->
            <div class="cbp"
               data-hs-cbp-options='{
                 "filters": "#filterControlsExample3",
                 "animationType": "quicksand",
                 "gapHorizontal": 40,
                 "gapVertical": 40,
                 "mediaQueries": [
                   {"width": 20, "cols": 3},
                   {"width": 20, "cols": 2},
                   {"width": 20, "cols": 1}
                 ]
               }'>
            <!-- Item -->

            <!-- End Item -->
            <div class="row">
            <!-- Item -->
              {% for i in range(BB|length) %}
                <div class="cbp-item rounded-lg ipo">

                    <div class="card card-bordered card-hover-shadow h-100">
                        <div class="card-body">
                          <div class="row mb-3">
                            <div class="col">
                              <div class="media align-items-center">

                                <div class="media-body">
                                    <div class="media align-items-center">
                                        <div class="avatar avatar-circle mr-2">
                                          <img class="avatar-img" src="static/zlogo/BAR.jpg" alt="Image Description">
                                        </div>
                                        <div class="media-body">
                                          <h6 class="mb-0">
                                            {% if BB[i][1]|length > 19 %}
                                                <a class="text-dark" href="employer.html"> {{ BB[i][1] }}</a>
                                              {% else %}
                                                <a class="text-dark" href="employer.html"> {{ BB[i][1] }}</a>
                                              {% endif %}

                                          </h6>
                                        </div>
                                      </div>

                                </div>
                              </div>
                            </div>

                            <div class="col-auto">
                              <!-- Checkbbox Bookmark -->
                              <div class="custom-control custom-checkbox-bookmark">
                                <input type="checkbox" id="checkboxBookmark{{i}}" class="custom-control-input custom-checkbox-bookmark-input">
                                <label class="custom-checkbox-bookmark-label" for="checkboxBookmark{{i}}">
                                  <span class="custom-checkbox-bookmark-default" data-toggle="tooltip" data-placement="top" title="Save this job">
                                    <i class="far fa-star"></i>
                                  </span>
                                  <span class="custom-checkbox-bookmark-active" data-toggle="tooltip" data-placement="top" title="Saved">
                                    <i class="fas fa-star"></i>
                                  </span>
                                </label>
                              </div>
                              <!-- End Checkbbox Bookmark -->
                            </div>
                          </div>
                          <!-- End Row -->

                          <h3 class="mb-3">
                            <a class="text-dark" href="job-overview.html">{{ BB[i][0] }}</a>
                          </h3>

                          <span class="d-block font-size-1 text-body mb-1">
                            <span data-toggle="tooltip" data-placement="right" title="Price Range"> &#8377;{{ BB[i][6] }} - &#8377;{{ BB[i][7] }}</span>
                          </span>

                          <span class="d-block font-size-1 text-body mb-1">
                              <span class="badge badge-soft-primary" data-toggle="tooltip" data-placement="right" title="Minimum Qty">Lot : {{ BB[i][8] }}</span>
                          </span>
                        </div>

                        <div class="card-footer">
                          <ul class="list-inline list-separator small text-body">

                            <li class="list-inline-item">{{ BB[i][3] }}</li>

                            <li class="list-inline-item">{{ BB[i][4][0:10] }} - {{ BB[i][5][0:10] }}</li>
                          </ul>
                        </div>
                      </div>

            </div>
              {% endfor %}
            <!-- End Item -->
            {% for i in range(DLST|length) %}
                <div class="cbp-item rounded-lg dlst">

                    <div class="card card-bordered card-hover-shadow h-100">
                        <div class="card-body">
                          <div class="row mb-3">
                            <div class="col">
                              <div class="media align-items-center">

                                <div class="media-body">
                                  <h6 class="mb-0">
                                      <span class="avatar avatar-xs avatar-primary avatar-circle">
                                          <span class="avatar-initials">{{ DLST[i][0][0] }}</span>
                                        </span>
                                    <a class="text-dark" href="employer.html">{{ DLST[i][0] }}</a>
                                  </h6>
                                </div>
                              </div>
                            </div>

                            <div class="col-auto">
                              <!-- Checkbbox Bookmark -->
                              <div class="custom-control custom-checkbox-bookmark">
                                <input type="checkbox" id="checkboxBookmark{{ i+ BB|length }}" class="custom-control-input custom-checkbox-bookmark-input">
                                <label class="custom-checkbox-bookmark-label" for="checkboxBookmark{{ i+ BB|length }}">
                                  <span class="custom-checkbox-bookmark-default" data-toggle="tooltip" data-placement="top" title="Save this job">
                                    <i class="far fa-star"></i>
                                  </span>
                                  <span class="custom-checkbox-bookmark-active" data-toggle="tooltip" data-placement="top" title="Saved">
                                    <i class="fas fa-star"></i>
                                  </span>
                                </label>
                              </div>
                              <!-- End Checkbbox Bookmark -->
                            </div>
                          </div>
                          <!-- End Row -->

                          <h6 class="mb-3">
                            <a class="text-dark" href="job-overview.html">{{ DLST[i][1] }}</a>
                          </h6>

                          <span class="d-block font-size-1 text-body mb-1">&#8377;{{ DLST[i][6] }} - &#8377;{{ DLST[i][7] }} yearly</span>

                          <span class="d-block font-size-1 text-body mb-1">
                            {{ DLST[i][4][0:10] }} - {{ DLST[i][5][0:10] }}
                          </span>
                        </div>

                        <div class="card-footer">
                          <ul class="list-inline list-separator small text-body">

                            <li class="list-inline-item">{{ DLST[i][3] }}</li>
                            <li class="list-inline-item">Order : {{ DLST[i][8] }}</li>
                          </ul>
                        </div>
                      </div>

            </div>
              {% endfor %}
            <!-- Item -->
            {% for i in range(TAKEOVER|length) %}
                <div class="cbp-item rounded-lg takeover">

                    <div class="card card-bordered card-hover-shadow h-100">
                        <div class="card-body">
                          <div class="row mb-3">
                            <div class="col">
                              <div class="media align-items-center">

                                <div class="media-body">
                                  <h6 class="mb-0">
                                      <span class="avatar avatar-xs avatar-primary avatar-circle">
                                          <span class="avatar-initials">{{ TAKEOVER[i][0][0] }}</span>
                                        </span>
                                    <a class="text-dark" href="employer.html">{{ TAKEOVER[i][0] }}</a>
                                  </h6>
                                </div>
                              </div>
                            </div>

                            <div class="col-auto">
                              <!-- Checkbbox Bookmark -->
                              <div class="custom-control custom-checkbox-bookmark">
                                <input type="checkbox" id="checkboxBookmark{{ i + BB|length + DLST|length }}" class="custom-control-input custom-checkbox-bookmark-input">
                                <label class="custom-checkbox-bookmark-label" for="checkboxBookmark{{ i + BB|length + DLST|length }}">
                                  <span class="custom-checkbox-bookmark-default" data-toggle="tooltip" data-placement="top" title="Save this job">
                                    <i class="far fa-star"></i>
                                  </span>
                                  <span class="custom-checkbox-bookmark-active" data-toggle="tooltip" data-placement="top" title="Saved">
                                    <i class="fas fa-star"></i>
                                  </span>
                                </label>
                              </div>
                              <!-- End Checkbbox Bookmark -->
                            </div>
                          </div>
                          <!-- End Row -->

                          <h6 class="mb-3">
                            <a class="text-dark" href="job-overview.html">{{ TAKEOVER[i][1] }}</a>
                          </h6>

                          <span class="d-block font-size-1 text-body mb-1">&#8377;{{ TAKEOVER[i][6] }} - &#8377;{{ TAKEOVER[i][7] }} yearly</span>

                          <span class="d-block font-size-1 text-body mb-1">
                            {{ TAKEOVER[i][4][0:10] }} - {{ TAKEOVER[i][5][:10] }}
                          </span>
                        </div>

                        <div class="card-footer">
                          <ul class="list-inline list-separator small text-body">

                            <li class="list-inline-item">{{ TAKEOVER[i][3] }}</li>
                            <li class="list-inline-item">Order : {{ TAKEOVER[i][8] }}</li>
                          </ul>
                        </div>
                      </div>

            </div>
              {% endfor %}
            </div>
          </div>
      </div>

    <!-- Hero Section -->
    <div class="gradient-x-three-sm-primary">
      <div class="container space-top-2 space-top-lg-4 space-bottom-2">
        <!-- Card -->
        <div class="card p-2 mb-3">
          <!-- Input Group -->
          <div class="form-row input-group-borderless">
            <div class="col-sm mb-2 mb-md-0">
              <div class="input-group input-group-merge input-group-borderless">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-search"></i>
                  </div>
                </div>

                <input type="text" class="form-control" placeholder="Job title, skills, or company" aria-label="Job title, skills, or company">
              </div>
            </div>

            <div class="col-sm d-sm-none">
              <hr class="my-0">
            </div>

            <div class="col-sm column-divider-sm mb-2 mb-md-0">
              <div class="input-group input-group-merge input-group-borderless">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                </div>

                <input type="text" class="form-control" placeholder="City, state, or zip" aria-label="City, state, or zip" value="London, UK">
              </div>
            </div>

            <div class="col-md-auto">
              <button type="button" class="btn btn-block btn-primary px-5">Search</button>
            </div>
          </div>
          <!-- End Input Group -->
        </div>
        <!-- End Card -->

        <div class="row align-items-center">
          <div class="col-md-auto mr-n3 mb-3 mb-lg-0">
            <h6 class="mb-0">Limit search to:</h6>
          </div>

          <div class="col-md mb-3 mb-lg-0">
            <!-- Checkbox -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="searchJobTitleCheck" checked>
                  <label class="custom-control-label" for="searchJobTitleCheck">Job title</label>
                </div>
              </li>

              <li class="list-inline-item">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="searchSkillsCheck">
                  <label class="custom-control-label" for="searchSkillsCheck">Skills</label>
                </div>
              </li>

              <li class="list-inline-item">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="searchCompaniesCheck">
                  <label class="custom-control-label" for="searchCompaniesCheck">Companies</label>
                </div>
              </li>

              <li class="list-inline-item">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="searchStudyFieldCheck">
                  <label class="custom-control-label" for="searchStudyFieldCheck">Filed of study</label>
                </div>
              </li>
            </ul>
            <!-- End Checkbox -->
          </div>

          <div class="col-lg-auto">
            <!-- Checkbox Switch -->
            <label class="toggle-switch d-flex align-items-center" for="remoteOnlySwitch">
              <input type="checkbox" class="toggle-switch-input" id="remoteOnlySwitch">
              <span class="toggle-switch-label">
                <span class="toggle-switch-indicator"></span>
              </span>
              <span class="toggle-switch-content">
                <span class="d-block">Remote only</span>
              </span>
            </label>
            <!-- End Checkbox Switch -->
          </div>
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- End Hero Section -->

    <!-- Listing Section -->
    <div class="container space-2 space-bottom-lg-3">
      <div class="row">


        <div class="col-lg-12">
          <!-- Title and Sort -->
          <div class="row align-items-sm-center">
            <div class="col-sm mb-3 mb-sm-0">
              <h3 class="mb-0">Initial Public Offering ({{ BB|length }})</h3>
            </div>

            <div class="col-sm-auto">
              <div class="d-flex align-items-center">
                <span class="font-size-1 mr-2">Sort by:</span>

                <!-- Select -->
                <div id="sortBySelect" class="select2-custom select2-custom-sm-right mr-3">
                  <select class="js-custom-select custom-select-sm" style="opacity: 0;"
                          data-hs-select2-options='{
                            "dropdownParent": "#sortBySelect",
                            "minimumResultsForSearch": "Infinity",
                            "customClass": "custom-select custom-select-sm",
                            "dropdownAutoWidth": true,
                            "dropdownWidth": "12rem"
                          }'>
                    <option value="Relevance" selected>Relevance</option>
                    <option value="mostRecent">Most recent</option>
                  </select>
                </div>
                <!-- End Select -->

                <!-- Nav -->
                <ul class="nav nav-segment">
                  <li class="list-inline-item">
                    <a class="nav-link active" href="job-grid.html">
                      <i class="fas fa-th-large"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="nav-link" href="job-list.html">
                      <i class="fas fa-list"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Nav -->
              </div>
            </div>
          </div>
          <!-- End Title and Sort -->

          <hr class="my-4">

          <!-- Listing -->
          <div class="row">
            {% for i in range(BB|length) %}

                <div class="col-sm-6 mb-5">
                    <div class="card card-bordered card-hover-shadow h-100">
                        <div class="card-body">
                          <div class="row mb-3">
                            <div class="col">
                              <div class="media align-items-center">

                                <div class="media-body">
                                    <div class="media align-items-center">
                                        <div class="avatar avatar-circle mr-2">
                                          <img class="avatar-img" src="static/zlogo/BAR.jpg" alt="Image Description">
                                        </div>
                                        <div class="media-body">
                                          <h6>
                                            {% if BB[i][1]|length > 19 %}
                                                <span> {{ BB[i][1] }}</span>
                                              {% else %}
                                                <span> {{ BB[i][1] }}</span>
                                              {% endif %}

                                          </h6>
                                        </div>
                                      </div>

                                </div>
                              </div>
                            </div>

                            <div class="col-auto">
                              <!-- Checkbbox Bookmark -->
                              <div class="custom-control custom-checkbox-bookmark">
                                <input type="checkbox" id="checkboxBookmark{{i}}" class="custom-control-input custom-checkbox-bookmark-input">
                                <label class="custom-checkbox-bookmark-label" for="checkboxBookmark{{i}}">
                                  <span class="custom-checkbox-bookmark-default" data-toggle="tooltip" data-placement="top" title="Save this job">
                                    <i class="far fa-star"></i>
                                  </span>
                                  <span class="custom-checkbox-bookmark-active" data-toggle="tooltip" data-placement="top" title="Saved">
                                    <i class="fas fa-star"></i>
                                  </span>
                                </label>
                              </div>
                              <!-- End Checkbbox Bookmark -->
                            </div>
                          </div>
                          <!-- End Row -->

                          <h3 class="mb-3">
                            <a class="text-dark" href="job-overview.html">{{ BB[i][0] }}</a>
                          </h3>

                          <span class="d-block font-size-1 text-body mb-1">
                            <span data-toggle="tooltip" data-placement="right" title="Price Range"> &#8377;{{ BB[i][6] }} - &#8377;{{ BB[i][7] }}</span>
                          </span>

                          <span class="d-block font-size-1 text-body mb-1">
                              <span class="badge badge-soft-primary" data-toggle="tooltip" data-placement="right" title="Minimum Qty">Lot : {{ BB[i][8] }}</span>
                          </span>
                        </div>

                        <div class="card-footer">

                          <span class="d-block font-size-1 text-body mb-1">
                            {{ BB[i][4][0:10] }} - {{ BB[i][5][0:10] }}
                            <a class="font-weight-bold" href="https://themes.getbootstrap.com/guide/" target="_blank" style="float:right;">RHP Doc <i class="fas fa-external-link-alt fa-xs"></i></a>
                          </span>




                        </div>
                      </div>
                </div>
            {% endfor %}
            <!--
            {% for i in range(DLST|length) %}
            <div class="col-sm-6 mb-5">
                          <div class="card card-bordered card-hover-shadow h-100">
                              <div class="card-body">
                                <div class="row mb-3">
                                  <div class="col">
                                    <div class="media align-items-center">

                                      <div class="media-body">
                                        <div class="media align-items-center">
                                              <div class="avatar avatar-circle mr-2">
                                                <img class="avatar-img" src="static/zlogo/BAR.jpg" alt="Image Description">
                                              </div>
                                              <div class="media-body">
                                                <h6 class="mb-0">
                                                  {% if DLST[i][1]|length > 19 %}
                                                      <span> {{ DLST[i][1] }}</span>
                                                    {% else %}
                                                      <span> {{ DLST[i][1] }}</span>
                                                    {% endif %}

                                                </h6>
                                              </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-auto">

                                    <div class="custom-control custom-checkbox-bookmark">
                                      <input type="checkbox" id="checkboxBookmark{{ i+ BB|length }}" class="custom-control-input custom-checkbox-bookmark-input">
                                      <label class="custom-checkbox-bookmark-label" for="checkboxBookmark{{ i+ BB|length }}">
                                        <span class="custom-checkbox-bookmark-default" data-toggle="tooltip" data-placement="top" title="Save this job">
                                          <i class="far fa-star"></i>
                                        </span>
                                        <span class="custom-checkbox-bookmark-active" data-toggle="tooltip" data-placement="top" title="Saved">
                                          <i class="fas fa-star"></i>
                                        </span>
                                      </label>
                                    </div>

                                  </div>
                                </div>


                                <h3 class="mb-3">
                                  <a class="text-dark" href="job-overview.html">{{ DLST[i][0] }}</a>
                                </h3>

                                <span class="d-block font-size-1 text-body mb-1">
                                  <span data-toggle="tooltip" data-placement="right" title="Price Range"> &#8377;{{ DLST[i][6] }} - &#8377;{{ DLST[i][7] }}</span>
                                </span>

                                <span class="d-block font-size-1 text-body mb-1">
                                  <span class="badge badge-soft-primary" data-toggle="tooltip" data-placement="right" title="Minimum Qty">Lot : {{ DLST[i][8] }}</span>
                                </span>
                              </div>

                              <div class="card-footer">
                                <ul class="list-inline list-separator small text-body">

                                  <li class="list-inline-item">{{ DLST[i][3] }}</li>
                                  <li class="list-inline-item">{{ DLST[i][4][0:10] }} - {{ DLST[i][5][0:10] }}</li>
                                </ul>
                              </div>
                            </div>
            </div>
            {% endfor %}

            {% for i in range(TAKEOVER|length) %}
                   <div class="col-sm-6 mb-5">
                  <div class="card card-bordered card-hover-shadow h-100">
                              <div class="card-body">
                                <div class="row mb-3">
                                  <div class="col">
                                    <div class="media align-items-center">

                                      <div class="media-body">
                                        <div class="media align-items-center">
                                              <div class="avatar avatar-circle mr-2">
                                                <img class="avatar-img" src="static/zlogo/BAR.jpg" alt="Image Description">
                                              </div>
                                              <div class="media-body">
                                                <h6 class="mb-0">
                                                  {% if TAKEOVER[i][1]|length > 19 %}
                                                      <span> {{ TAKEOVER[i][1] }}</span>
                                                    {% else %}
                                                      <span> {{ TAKEOVER[i][1] }}</span>
                                                    {% endif %}

                                                </h6>
                                              </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-auto">

                                    <div class="custom-control custom-checkbox-bookmark">
                                      <input type="checkbox" id="checkboxBookmark{{ i + BB|length + DLST|length }}" class="custom-control-input custom-checkbox-bookmark-input">
                                      <label class="custom-checkbox-bookmark-label" for="checkboxBookmark{{ i + BB|length + DLST|length }}">
                                        <span class="custom-checkbox-bookmark-default" data-toggle="tooltip" data-placement="top" title="Save this job">
                                          <i class="far fa-star"></i>
                                        </span>
                                        <span class="custom-checkbox-bookmark-active" data-toggle="tooltip" data-placement="top" title="Saved">
                                          <i class="fas fa-star"></i>
                                        </span>
                                      </label>
                                    </div>

                                  </div>
                                </div>


                                <h3 class="mb-3">
                                  <a class="text-dark" href="job-overview.html">{{ TAKEOVER[i][0] }}</a>
                                </h3>

                                <span class="d-block font-size-1 text-body mb-1">
                                  <span data-toggle="tooltip" data-placement="right" title="Price Range"> &#8377;{{ TAKEOVER[i][6] }} - &#8377;{{ TAKEOVER[i][7] }}</span>
                                </span>

                                <span class="d-block font-size-1 text-body mb-1" style="padding-right:20px;">
                                  <span class="badge badge-soft-primary" data-toggle="tooltip" data-placement="right" title="Minimum Qty">Lot : {{ TAKEOVER[i][8] }}</span>
                                </span>
                              </div>

                              <div class="card-footer">
                                <ul class="list-inline list-separator small text-body">

                                  <li class="list-inline-item">{{ TAKEOVER[i][3] }}</li>
                                  <li class="list-inline-item">{{ TAKEOVER[i][4][0:10] }} - {{ TAKEOVER[i][5][0:10] }}</li>
                                </ul>
                              </div>
                            </div>
                  </div>
            {% endfor %}

          </div>
            -->

          <!-- Pagination -->
          <div class="d-flex justify-content-between align-items-center mt-7">
            <nav aria-label="Page navigation">
              <ul class="pagination mb-0">
                <li class="page-item ml-0">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">9</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>

            <small class="d-none d-sm-inline-block text-body">Page 1 out of 9</small>
          </div>
          <!-- End Pagination -->
        </div>
      </div>
      <!-- End Row -->
    </div>
    <!-- End Listing Section -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== FOOTER ========== -->
  <footer class="bg-dark">
    <div class="container">
      <div class="space-top-1 space-bottom-1 space-bottom-lg-1">
        <div class="row justify-content-lg-between">

              <p style="font-size: 12px;"> > Zebu &copy; <span class="d-none d-sm-inline-block">2021</span>, All rights reserved.<br>
                Zebu Share and Wealth Managements Pvt Ltd, NSE / BSE / MCX - SEBI Registration No: INZ000174634, CDSL : 12080400, AMFI ARN : 113118, Research Analyst : INH200006044</p>

        </div>
      </div>
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->

  <!-- Go to Top -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- End Go to Top -->

  <!-- JS Global Compulsory  -->
  <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/static/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="/static/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="/static/vendor/hs-header/dist/hs-header.min.js"></script>
  <script src="/static/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
  <script src="/static/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
  <script src="/static/vendor/hs-unfold/dist/hs-unfold.min.js"></script>
  <script src="/static/vendor/select2/dist/js/select2.full.min.js"></script>
  <script src="/static/vendor/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
  <script src="/static/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
  <!-- JS Front -->
  <script src="/static/js/theme.min.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // INITIALIZATION OF HEADER
      // =======================================================
      var header = new HSHeader($('#header')).init();


      // INITIALIZATION OF MEGA MENU
      // =======================================================
      var megaMenu = new HSMegaMenu($('.js-mega-menu')).init();


      // INITIALIZATION OF UNFOLD
      // =======================================================
      var unfold = new HSUnfold('.js-hs-unfold-invoker').init();


      // INITIALIZATION OF SELECT2
      // =======================================================
      $('.js-custom-select').each(function () {
        var select2 = $.HSCore.components.HSSelect2.init($(this));
      });


      // INITIALIZATION OF ION RANGE SLIDER
      // =======================================================
      $('.js-ion-range-slider').each(function () {
        var ionRangeSlider = $.HSCore.components.HSIonRangeSlider.init($(this));
      });


      // INITIALIZATION OF GO TO
      // =======================================================
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });

    // INITIALIZATION OF CUBEPORTFOLIO
    // =======================================================
    $('.cbp').each(function () {
      var cbp = $.HSCore.components.HSCubeportfolio.init($(this), {
        layoutMode: 'grid',
        filters: '#filterControlsExample3',
        displayTypeSpeed: 0
      });
    });

    });
  </script>

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="/static/vendor/babel-polyfill/dist/polyfill.min.js"><\/script>');
  </script>
</body>
</html>
